<section >
	<h2 class="section-heading">
		About Us
	</h2>
	<div>
		<p>Some text to generate a decently large paragraph, intended to represent the text of the "About" section. That previous line alone was not enough so let's add more.</p>
	</div>
</section>
