---

---

<section id="hero" class="flex justify-between">
	<div class="flex flex-col gap-12 text-center mx-auto items-center">
		<h1 class="font-bebas text-8xl">
			Total <span class="text-[#FFF0C8] hover:text-primaryDark transition"
				>Peace</span
			> of mind
		</h1>
		<p class="text-lg w-[300px] md:w-[550px]">
			lorem ipsum dolor <span class="text-primary">sit</span> amet lorem ipsum dolor
			sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
		</p>
		<div class="font-bebas flex justify-between sm:justify-normal sm:gap-12">
			<button class="text-lg bg-alternate dark:bg-primary dark:text-black"
				>Contact us</button
			>
			<button class="text-lg dark:text-primary border dark:border-primary"
				>Our Services</button
			>
		</div>
	</div>
	<div></div>
</section>

<style>
	button {
		padding: 5px 20px;
		border-radius: 0.25rem;
		width: 130px;
	}
</style>
