---

---

<section id="hero" class="flex justify-between">
	<div class="flex flex-col gap-3">
		<h1 class="font-bebas text-6xl">Total Peace of mind</h1>
		<p class="text-sm w-72">lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet </p>
		<div class="font-bebas flex justify-between sm:justify-normal sm:gap-4">
			<button class="bg-alternate dark:bg-alternateDark dark:text-black">Contact us</button>
			<button class="dark:text-alternateDark border dark:border-alternateDark">Our Services</button>
		</div>
	</div>
	<div></div>
</section>

<style>
	button {
		padding: 5px 20px;
		border-radius: 0.25rem;
		width: 130px;
	}

</style>
