---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import SectionDivider from "../components/Section-divider.astro";
import About from "../components/sections/About.astro";
import Services from "../components/sections/Services.astro";
import Contact from "../components/sections/Contact.astro";
import ArrowPicker from "../components/svg/arrow-picker.astro";
---

<Layout title="Oakshield Security">
	<main>
		<Header />
		<SectionDivider />
		<Hero />
		<ArrowPicker />
		<About />
		<SectionDivider />
		<Services />
		<SectionDivider />
		<Contact />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 14px;
		line-height: 1.6;
	}
</style>
